node_red/flow.txt
[{"id":"2159bef.86b1e42","type":"tab","label":"Sigfox Gateway","disabled":false,"info":""},{"id":"ddd4eaaf.67a1b8","type":"ibmiot in","z":"2159bef.86b1e42","authentication":"apiKey","apiKey":"24ef44ab.67691c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SFX_21D411","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM_IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":120,"y":180,"wires":[["6ddd97d9.be3ff8","e89eccda.8b578"]]},{"id":"34ec4083.30e4e","type":"function","z":"2159bef.86b1e42","name":"getHumidity","func":"var humidity = [];\n\nfor(var i = 4; i < 8; i++) {\n    humidity[i] = msg.payload.data[i];\n}\n\nvar numberStr = humidity.join(\"\");\n\nvar value = parseInt(numberStr, 16);\n\nvar conversion =  (value / 65536 * 125) - 6;\n\nmsg.payload.humidity = conversion.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":180,"wires":[["2e4394e0.44298c","9648299b.030c08"]]},{"id":"e8eb5c9.8e013a","type":"cloudant out","z":"2159bef.86b1e42","name":"insertData_DB","cloudant":"","database":"sigfox_app_data","service":"SigfoxAppBulovex-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1000,"y":500,"wires":[]},{"id":"6ddd97d9.be3ff8","type":"change","z":"2159bef.86b1e42","name":"deleteVarProperties","rules":[{"t":"delete","p":"payload.duplicate","pt":"msg"},{"t":"delete","p":"payload.snr","pt":"msg"},{"t":"delete","p":"payload.rssi","pt":"msg"},{"t":"delete","p":"payload.avgSnr","pt":"msg"},{"t":"delete","p":"payload.station","pt":"msg"},{"t":"delete","p":"payload.seqNumber","pt":"msg"},{"t":"delete","p":"payload.lat","pt":"msg"},{"t":"delete","p":"payload.lng","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["283875a1.63c85a","7fc57d7e.8e96a4"]]},{"id":"283875a1.63c85a","type":"function","z":"2159bef.86b1e42","name":"getTemperature","func":"var temperature = [];\n\nfor(var i = 0; i < 4; i++) {\n    temperature[i] = msg.payload.data[i];\n}\n\nvar numberStr = temperature.join(\"\");\n\nvar value = parseInt(numberStr, 16);\n\nvar conversion = (value / 65536 * 172.72) - 46.85;\n\nmsg.payload.temperature = conversion.toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["34ec4083.30e4e","b4b7e567.1a17b8"]]},{"id":"d2d63e7c.e745b","type":"change","z":"2159bef.86b1e42","name":"deleteDataProp","rules":[{"t":"delete","p":"payload.data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":500,"wires":[["e8eb5c9.8e013a","8668efe5.a5af3","a625c063.f6a03"]]},{"id":"7fa2bdb6.b78bb4","type":"function","z":"2159bef.86b1e42","name":"getDate","func":"var date = new Date(msg.payload.time * 1000);\n\nmsg.payload.year = date.getFullYear();\nmsg.payload.month = date.getMonth()+1;\nmsg.payload.date = date.getDate();\nmsg.payload.hours = date.getHours();\nmsg.payload.minutes = date.getMinutes();\nmsg.payload.seconds = date.getSeconds();\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":500,"wires":[["d2d63e7c.e745b"]]},{"id":"941318ab.562718","type":"link out","z":"2159bef.86b1e42","name":"jakub.matolin@gmail.com","links":["3889a283.9175ce"],"x":1375,"y":180,"wires":[]},{"id":"3889a283.9175ce","type":"link in","z":"2159bef.86b1e42","name":"","links":["941318ab.562718"],"x":75,"y":500,"wires":[["e9f05057.5abde","b55be738.78db48"]]},{"id":"38f02606.176dca","type":"ui_date_picker","z":"2159bef.86b1e42","name":"","label":"startDate","group":"21e0fbe1.94dc84","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":580,"y":1120,"wires":[["cafefdcb.61f92"]]},{"id":"dbc0d842.4abb28","type":"inject","z":"2159bef.86b1e42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":1160,"wires":[["f0ee51c4.7bb5","4cfdf437.15a87c"]]},{"id":"931136f2.944028","type":"ui_date_picker","z":"2159bef.86b1e42","name":"","label":"endDate","group":"21e0fbe1.94dc84","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":580,"y":1200,"wires":[["3402496d.c49826"]]},{"id":"f0ee51c4.7bb5","type":"function","z":"2159bef.86b1e42","name":"getCurrentTimestamp","func":"var timestamp = new Date().getTime();\n\nmsg.payload = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1200,"wires":[["931136f2.944028"]]},{"id":"4cfdf437.15a87c","type":"function","z":"2159bef.86b1e42","name":"getLastWeekTimestamp","func":"var timestamp = new Date().getTime();\n\nvar timestampWeek = timestamp - (604800 * 1000);\n\nmsg.payload = timestampWeek;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1120,"wires":[["38f02606.176dca"]]},{"id":"cafefdcb.61f92","type":"change","z":"2159bef.86b1e42","name":"flowStartDate","rules":[{"t":"set","p":"startDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1120,"wires":[["b69b0339.390d3"]]},{"id":"3402496d.c49826","type":"change","z":"2159bef.86b1e42","name":"flowEndDate","rules":[{"t":"set","p":"endDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1200,"wires":[["b69b0339.390d3"]]},{"id":"66ddd934.69c958","type":"function","z":"2159bef.86b1e42","name":"createChart_JS","func":"var chartData = [{\n    \"series\": [\"A\"],\n    \"data\": [\n        [\n            {\"x\": 1504029632890, \"y\": 5 }\n        ]\n    ],\n    \"labels\": [\"\"]\n}]\n\nchartData[0].data[0].shift();\n\nfor(var i = 0; i < msg.payload.time.length; i++) {\n    chartData[0].data[0].push({\"x\": msg.payload.time[i], \"y\": msg.payload.temperature[i]});\n}\n\nchartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n\nmsg.payload = chartData;\n/*\nvar temperatureArray = [];\n\nfor(var i = 0; i < msg.payload.time.length; i++)\n\nmsg.payload = msg.payload.temperature[2];\n*/\nreturn msg;\n\n/*\n\n    \n}\n*/\n\n/*\nvar startDate = flow.get(\"startDate\");\nvar endDate   = flow.get(\"endDate\");\n\nvar seriesTime = flow.get(\"seriesTime\");\nvar seriesTemperature =  flow.get(\"seriesTemperature\");\n\nvar chartData = new Object();\n\nchartData.labels = [\"Temperature\", \"Illuminance\"];\nchartData.series = [\"Series0\", \"Series1\"];\nchartData.data = [  \n                    [{\"x\": startDate, \"y\": 0}],\n                    [{\"x\": startDate, \"y\": 0}],\n                ];\n\nfor(var i = 0; i < seriesTemperature.length; i++) {\n    if((msg.payload[i].time > startDate) && (msg.payload[i].time << endDate)) {\n        chartData.data[0].push({\"x\": msg.payload[i].time, \"y\": msg.payload[i].temperature});\n    }\n    chartData.data[0].sort(function sortNumber(a, b){return a.x - b.x;});\n}\n\nmsg.payload = chartData;\nreturn msg;\n\n*/\n\n/*\nvar PlotSeries0   = flow.get(\"PlotSeries0\");\nvar PlotSeries1   = flow.get(\"PlotSeries1\"); // Switch can be True / False\nvar PlotSeries2   = flow.get(\"PlotSeries2\");\nvar Series0Data   = flow.get(\"Series0Data\");\nvar Series1Data   = flow.get(\"Series1Data\");\nvar Series2Data   = flow.get(\"Series2Data\");\n\n// Example Chart Data\n// [{\"series\":[\"A\",\"B\",\"C\"],\"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4}]],\"labels\":[\"\"]}]\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [  {\"series\":[\"Series0\",\"Series1\",\"Series2\"],\n                    \"data\":[\n                        [{\"x\":starttime,\"y\":0}],\n                        [{\"x\":starttime,\"y\":0}],\n                        [{\"x\":starttime,\"y\":0}]\n                    ],\n                    \"labels\":[\"Data 0\",\"Data 1\",\"Data 2\"]}];\n                    \n// Now that the json object is defined, remove the bogus first data {x,y} object.\n// This triggers an odd bug in node-red-dashboard chart however when data[0] array has zero elements.\nChartData[0].data[0].shift(); \nChartData[0].data[1].shift(); \nChartData[0].data[2].shift(); \n    \n    \nif( PlotSeries0 === true ) {\n    for( var i=0; i < Series0Data.length; i++ ) {\n        // Filter on the selected timestamp range\n        if( (Series0Data[i].time > starttime) && (Series0Data[i].time < endtime)) {\n            ChartData[0].data[0].push( { \"x\":Series0Data[i].time,\"y\":Series0Data[i].data } );\n        }\n    }\n    // Now we need to sort on the time so that we give the Chart node an array in time order\n    ChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n}\nif( PlotSeries1 === true ) {\n    for( var i=0; i < Series1Data.length; i++ ) {\n        // Filter on the selected timestamp range\n        if( (Series1Data[i].time > starttime) && (Series1Data[i].time < endtime)) {\n            ChartData[0].data[1].push( { \"x\":Series1Data[i].time,\"y\":Series1Data[i].data } );\n        }\n    }\n    // Now we need to sort on the time so that we give the Chart node an array in time order\n    ChartData[0].data[1].sort(function sortNumber(a,b) { return a.x - b.x; });\n}\nif( PlotSeries2 === true ) {\n    for( var i=0; i < Series2Data.length; i++ ) {\n        // Filter on the selected timestamp range\n        if( (Series2Data[i].time > starttime) && (Series2Data[i].time < endtime)) {\n            ChartData[0].data[2].push( { \"x\":Series2Data[i].time,\"y\":Series2Data[i].data } );\n        }\n    }\n    // Now we need to sort on the time so that we give the Chart node an array in time order\n    ChartData[0].data[2].sort(function sortNumber(a,b) { return a.x - b.x; });\n}\nmsg.payload = ChartData;\nreturn msg;\n*/","outputs":1,"noerr":0,"x":840,"y":740,"wires":[["d047b3a8.41437","9ece66e4.00a0a8"]]},{"id":"b69b0339.390d3","type":"link out","z":"2159bef.86b1e42","name":"","links":["63f9ca30.713b94"],"x":1000,"y":1160,"wires":[]},{"id":"4668a230.e9b94c","type":"cloudant in","z":"2159bef.86b1e42","name":"getData_DB","cloudant":"","database":"sigfox_app_data","service":"SigfoxAppBulovex-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":250,"y":840,"wires":[["e50d5643.9c5f18","facd9ec5.9a46b"]]},{"id":"e50d5643.9c5f18","type":"function","z":"2159bef.86b1e42","name":"getSeriesTemperature","func":"var seriesData = {\n    time: [],\n    temperature: [],\n};\n\nfor(var i = 0; i < msg.payload.length; i++) {\n    seriesData.time.push(parseInt(msg.payload[i].time * 1000));\n    seriesData.temperature.push(parseFloat(msg.payload[i].temperature));\n}\n\nmsg.payload = seriesData;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":740,"wires":[["66ddd934.69c958"]]},{"id":"d047b3a8.41437","type":"ui_chart","z":"2159bef.86b1e42","name":"","group":"21e0fbe1.94dc84","order":4,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"15","ymax":"35","removeOlder":1,"removeOlderPoints":"5000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1120,"y":740,"wires":[[],[]]},{"id":"9ece66e4.00a0a8","type":"debug","z":"2159bef.86b1e42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":820,"wires":[]},{"id":"eeeccc7d.92cff","type":"ui_text","z":"2159bef.86b1e42","group":"21e0fbe1.94dc84","order":6,"width":0,"height":0,"name":"lastMessageStamp","label":"Čas poslední přijaté zprávy","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":340,"wires":[]},{"id":"7fc57d7e.8e96a4","type":"function","z":"2159bef.86b1e42","name":"getLocalDate","func":"var date = new Date(msg.payload.time * 1000).toLocaleString(\"en-GB\", {timeZone: \"Europe/Paris\"})\nmsg.payload = date;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["eeeccc7d.92cff"]]},{"id":"a625c063.f6a03","type":"delay","z":"2159bef.86b1e42","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":580,"wires":[["1320f6fe.8dc129"]]},{"id":"e89eccda.8b578","type":"debug","z":"2159bef.86b1e42","name":"Database payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":100,"wires":[]},{"id":"2e4394e0.44298c","type":"function","z":"2159bef.86b1e42","name":"getBatteryLevel","func":"var batteryLevel = [];\n\nfor(var i = 8; i < 12; i++) {\n    batteryLevel[i] = msg.payload.data[i];\n}\n\nvar numberStr = batteryLevel.join(\"\");\n\nvar value = parseInt(numberStr, 16);\n\nmsg.payload.batteryLevel = value.toFixed(0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":180,"wires":[["eb6959f4.2f8438","75c94e52.4c065"]]},{"id":"eb6959f4.2f8438","type":"function","z":"2159bef.86b1e42","name":"getBatteryState","func":"var batteryState = [];\n\nfor(var i = 12; i < 14; i++) {\n    batteryState[i] = msg.payload.data[i];\n}\n\nvar numberStr = batteryState.join(\"\");\n\nvar value = parseInt(numberStr, 16);\n\nmsg.payload.batteryState = value.toFixed(0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":180,"wires":[["941318ab.562718"]]},{"id":"e9f05057.5abde","type":"function","z":"2159bef.86b1e42","name":"getMessageType","func":"var messageType = [];\n\nfor(var i = 14; i < 16; i++) {\n    messageType[i] = msg.payload.data[i];\n}\n\nvar numberStr = messageType.join(\"\");\n\nvar value = parseInt(numberStr, 16);\n\nmsg.payload.messageType = value.toFixed(0);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["7fa2bdb6.b78bb4"]]},{"id":"8668efe5.a5af3","type":"debug","z":"2159bef.86b1e42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":420,"wires":[]},{"id":"1320f6fe.8dc129","type":"link out","z":"2159bef.86b1e42","name":"","links":["d9c372b3.c3255"],"x":1095,"y":580,"wires":[]},{"id":"d9c372b3.c3255","type":"link in","z":"2159bef.86b1e42","name":"","links":["1320f6fe.8dc129"],"x":75,"y":840,"wires":[["4668a230.e9b94c"]]},{"id":"b4b7e567.1a17b8","type":"ui_text","z":"2159bef.86b1e42","group":"21e0fbe1.94dc84","order":0,"width":0,"height":0,"name":"lastTemperatureDash","label":"Poslední naměřená teplota:","format":"{{msg.payload.temperature}} °C","layout":"row-spread","x":760,"y":260,"wires":[]},{"id":"9648299b.030c08","type":"ui_text","z":"2159bef.86b1e42","group":"21e0fbe1.94dc84","order":0,"width":0,"height":0,"name":"lastHumidityDash","label":"Poslední naměřená vlhkost","format":"{{msg.payload.humidity}} %","layout":"row-spread","x":1010,"y":260,"wires":[]},{"id":"75c94e52.4c065","type":"ui_text","z":"2159bef.86b1e42","group":"21e0fbe1.94dc84","order":0,"width":0,"height":0,"name":"lastBatteryLevelDash","label":"Nabití baterie:","format":"{{msg.payload.batteryLevel}} %","layout":"row-spread","x":1260,"y":260,"wires":[]},{"id":"fe52bff8.15d98","type":"inject","z":"2159bef.86b1e42","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":940,"wires":[["4668a230.e9b94c"]]},{"id":"bcea401b.c5ae4","type":"ui_text","z":"2159bef.86b1e42","group":"21e0fbe1.94dc84","order":0,"width":0,"height":0,"name":"Stav baterie","label":"Stav baterie","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":580,"wires":[]},{"id":"facd9ec5.9a46b","type":"function","z":"2159bef.86b1e42","name":"getSeriesHumidity","func":"var seriesData = {\n    time: [],\n    humidity: [],\n};\n\nfor(var i = 0; i < msg.payload.length; i++) {\n    seriesData.time.push(parseInt(msg.payload[i].time * 1000));\n    seriesData.humidity.push(parseFloat(msg.payload[i].humidity));\n}\n\nmsg.payload = seriesData;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":920,"wires":[["c0b534eb.de0f98"]]},{"id":"c0b534eb.de0f98","type":"function","z":"2159bef.86b1e42","name":"createChart_JS","func":"var chartData = [{\n    \"series\": [\"A\"],\n    \"data\": [\n        [\n            {\"x\": 1504029632890, \"y\": 5 }\n        ]\n    ],\n    \"labels\": [\"\"]\n}]\n\nchartData[0].data[0].shift();\n\nfor(var i = 0; i < msg.payload.time.length; i++) {\n    chartData[0].data[0].push({\"x\": msg.payload.time[i], \"y\": msg.payload.humidity[i]});\n}\n\nchartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n\nmsg.payload = chartData;\n/*\nvar temperatureArray = [];\n\nfor(var i = 0; i < msg.payload.time.length; i++)\n\nmsg.payload = msg.payload.temperature[2];\n*/\nreturn msg;\n\n/*\n\n    \n}\n*/\n\n/*\nvar startDate = flow.get(\"startDate\");\nvar endDate   = flow.get(\"endDate\");\n\nvar seriesTime = flow.get(\"seriesTime\");\nvar seriesTemperature =  flow.get(\"seriesTemperature\");\n\nvar chartData = new Object();\n\nchartData.labels = [\"Temperature\", \"Illuminance\"];\nchartData.series = [\"Series0\", \"Series1\"];\nchartData.data = [  \n                    [{\"x\": startDate, \"y\": 0}],\n                    [{\"x\": startDate, \"y\": 0}],\n                ];\n\nfor(var i = 0; i < seriesTemperature.length; i++) {\n    if((msg.payload[i].time > startDate) && (msg.payload[i].time << endDate)) {\n        chartData.data[0].push({\"x\": msg.payload[i].time, \"y\": msg.payload[i].temperature});\n    }\n    chartData.data[0].sort(function sortNumber(a, b){return a.x - b.x;});\n}\n\nmsg.payload = chartData;\nreturn msg;\n\n*/\n\n/*\nvar PlotSeries0   = flow.get(\"PlotSeries0\");\nvar PlotSeries1   = flow.get(\"PlotSeries1\"); // Switch can be True / False\nvar PlotSeries2   = flow.get(\"PlotSeries2\");\nvar Series0Data   = flow.get(\"Series0Data\");\nvar Series1Data   = flow.get(\"Series1Data\");\nvar Series2Data   = flow.get(\"Series2Data\");\n\n// Example Chart Data\n// [{\"series\":[\"A\",\"B\",\"C\"],\"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4}]],\"labels\":[\"\"]}]\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [  {\"series\":[\"Series0\",\"Series1\",\"Series2\"],\n                    \"data\":[\n                        [{\"x\":starttime,\"y\":0}],\n                        [{\"x\":starttime,\"y\":0}],\n                        [{\"x\":starttime,\"y\":0}]\n                    ],\n                    \"labels\":[\"Data 0\",\"Data 1\",\"Data 2\"]}];\n                    \n// Now that the json object is defined, remove the bogus first data {x,y} object.\n// This triggers an odd bug in node-red-dashboard chart however when data[0] array has zero elements.\nChartData[0].data[0].shift(); \nChartData[0].data[1].shift(); \nChartData[0].data[2].shift(); \n    \n    \nif( PlotSeries0 === true ) {\n    for( var i=0; i < Series0Data.length; i++ ) {\n        // Filter on the selected timestamp range\n        if( (Series0Data[i].time > starttime) && (Series0Data[i].time < endtime)) {\n            ChartData[0].data[0].push( { \"x\":Series0Data[i].time,\"y\":Series0Data[i].data } );\n        }\n    }\n    // Now we need to sort on the time so that we give the Chart node an array in time order\n    ChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n}\nif( PlotSeries1 === true ) {\n    for( var i=0; i < Series1Data.length; i++ ) {\n        // Filter on the selected timestamp range\n        if( (Series1Data[i].time > starttime) && (Series1Data[i].time < endtime)) {\n            ChartData[0].data[1].push( { \"x\":Series1Data[i].time,\"y\":Series1Data[i].data } );\n        }\n    }\n    // Now we need to sort on the time so that we give the Chart node an array in time order\n    ChartData[0].data[1].sort(function sortNumber(a,b) { return a.x - b.x; });\n}\nif( PlotSeries2 === true ) {\n    for( var i=0; i < Series2Data.length; i++ ) {\n        // Filter on the selected timestamp range\n        if( (Series2Data[i].time > starttime) && (Series2Data[i].time < endtime)) {\n            ChartData[0].data[2].push( { \"x\":Series2Data[i].time,\"y\":Series2Data[i].data } );\n        }\n    }\n    // Now we need to sort on the time so that we give the Chart node an array in time order\n    ChartData[0].data[2].sort(function sortNumber(a,b) { return a.x - b.x; });\n}\nmsg.payload = ChartData;\nreturn msg;\n*/","outputs":1,"noerr":0,"x":840,"y":920,"wires":[["58223bfc.0beac4","13ca1d49.f6b1e3"]]},{"id":"58223bfc.0beac4","type":"ui_chart","z":"2159bef.86b1e42","name":"","group":"21e0fbe1.94dc84","order":4,"width":0,"height":0,"label":"Vlhkost","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"5000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1120,"y":920,"wires":[[],[]]},{"id":"13ca1d49.f6b1e3","type":"debug","z":"2159bef.86b1e42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1000,"wires":[]},{"id":"b55be738.78db48","type":"change","z":"2159bef.86b1e42","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.batteryState","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":580,"wires":[["2b66cc89.49ac34","24cd368a.ec7fca"]]},{"id":"2b66cc89.49ac34","type":"function","z":"2159bef.86b1e42","name":"","func":"if(msg.payload == \"0\") {\n    msg.payload = \"OK\";\n}\nelse if(msg.payload == \"1\") {\n    msg.payload = \"Nízký\";\n}\nelse if(msg.payload == \"2\") {\n    msg.payload = \"Kritický\";\n}\nelse\n    msg.payload = \"Error\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["bcea401b.c5ae4"]]},{"id":"24cd368a.ec7fca","type":"debug","z":"2159bef.86b1e42","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":660,"wires":[]},{"id":"24ef44ab.67691c","type":"ibmiot","z":"","name":"Sigfox access API Keys","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"21e0fbe1.94dc84","type":"ui_group","z":"","name":"Klima uvnitř","tab":"55d4d688.6a2dc8","order":1,"disp":true,"width":"10","collapse":false},{"id":"55d4d688.6a2dc8","type":"ui_tab","z":"","name":"Meteostanice Bulovka","icon":"dashboard","order":1}]